<section class="mx-5 mb-4">
    <!-- ลบ w-75 ออกถ้าอยากได้ใหญ่ -->
    <div class="row gy-5">
        {% if pagination.items %}
            {% for art in pagination.items %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    {% if current_user.is_authenticated %}
                        {% if FavouriteArt.query.filter_by(user_id=current_user.id, art_id=art.id).first() %}
                            {% with img_url=art.img_url, title=art.title, user=art.user, price=art.price, favourite=True, id=art.id %}
                                {% include "include/card.html" %}
                            {% endwith %}
                        {% else %}
                            {% with img_url=art.img_url, title=art.title, user=art.user, price=art.price, id=art.id %}
                                {% include "include/card.html" %}
                            {% endwith %}
                        {% endif %}
                    {% else %}
                        {% with img_url=art.img_url, title=art.title, user=art.user, price=art.price, id=art.id %}
                            {% include "include/card.html" %}
                        {% endwith %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <span class="section-2-span text-center fs-5">No items to display.</span>
        {% endif %}
    </div>
</section>
{% if pagination.items %}
    <section class="my-5">
        <div class="row justify-content-center">
            <div class="col-auto">
                <nav aria-label="pagibation">
                    <ul class="pagination">
                        {% if pagination.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('shop', page=pagination.prev_num) }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}
                        {% for number in pagination.iter_pages() %}
                            {% if pagination.page != number %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('shop', page=number) }}">{{ number }}</a></li>
                            {% else %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link">{{ number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if pagination.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('shop', page=pagination.next_num) }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{% endif %}