.google-signup {
    background: rgba(217, 217, 217, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.google-signup > span {
    color: rgba(0, 0, 0, 0.4);
}

.google-signup:hover {
    background: rgba(217, 217, 217, 0.5);
}

.google-img {
    width: 18px; 
    height: 18px;
}